---
import Layout from '../layouts/default.astro'
---

<Layout>
  <div>
    <div>
      <div class="text-center py-12 mb-12 px-6">
        <h1
          class="text-3xl lg:text-4xl mb-6 font-display text-black leading-tight">
          Thank you.
        </h1>
      </div>
    </div>
  </div>
</Layout>
