---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import Layout from '../layouts/default.astro'
import Cover from '../assets/tags.jpeg'

const posts = await getCollection('post', ({ data }) => data.draft !== true)
const tags = posts
  .map((entry) => entry.data.tags)
  .flat(3)
  .sort()
const tagcount = tags.reduce((acc: Record<string, number>, curr) => {
  acc[curr!] = (acc[curr!] || 0) + 1
  return acc
}, {})

const colors = ['red', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink']

const textSize = [
  'text-xs',
  'text-sm',
  'text-base',
  'text-lg',
  'text-xl',
  'text-2xl',
  'text-3xl',
  'text-4xl'
]
const maxcount =
  tagcount[
    Object.keys(tagcount).reduce((a, b) => (tagcount[a] > tagcount[b] ? a : b))
  ]
---

<Layout title="Tags" description="Index of all tags">
  <div class="-mt-24 relative w-full h-screen py-6 px-6 bg-black">
    <!-- hero section -->
    <div class="relative z-10 text-center">
      <h1
        class="text-white text-center text-6xl font-display font-bold mt-24 mb-6">
        Tags
      </h1>
      <ul class="flex justify-center flex-wrap align-center leading-10">
        {
          Object.keys(tagcount).map((tag) => (
            <li>
              <a
                href={'/tag/' + encodeURIComponent(tag)}
                class:list={[
                  'text-black m-2 p-1 hover:p-2 hover:m-1 hover-shadow-neutral-700 shadow-lg shadow-neutral-500 rounded-full',
                  'bg-' +
                    colors[Math.floor(Math.random() * colors.length)] +
                    '-' +
                    (Math.floor(Math.random() * 3) + 1) +
                    '00',
                  textSize[
                    Math.floor((tagcount[tag] * textSize.length) / maxcount)
                  ]
                ]}>
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- banner image -->
    <Image
      src={Cover}
      class="h-full absolute inset-0 object-cover opacity-70"
      alt="Cover"
    />
  </div>
</Layout>
