---
import type { CollectionEntry } from 'astro:content'
import PostDetail from './postdetail.astro'

interface Props {
  posts: CollectionEntry<'post'>[]
}
const { posts } = Astro.props
---

<div
  class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-12 pt-12 pb-24">
  {
    posts.map((post) => (
      <div
        class="bg-gray-50 rounded-lg shadow-lg"
        itemprop="mainEntity"
        itemscope
        itemtype="https://schema.org/Article">
        <a
          itemprop="url"
          href={
            (post.data.categories.includes('Member Exclusive')
              ? '/member/'
              : '/post/') + post.slug
          }>
          <img
            itemprop="image"
            src={post.data.image}
            alt={post.data.title}
            class="w-full h-64 md:h-96 object-cover rounded-lg"
          />
          <span class="sr-only">{post.data.title}</span>
        </a>

        <div class="bg-gray-50 p-8 rounded-lg">
          <h2
            itemprop="name"
            class="mt-2 text-3xl font-display text-black leading-tight">
            {post.data.title || 'Untitled'}
          </h2>
          <PostDetail {post} />
          <a
            itemprop="url"
            href={
              (post.data.categories.includes('Member Exclusive')
                ? '/member/'
                : '/post/') + post.slug
            }
            class="flex items-center mt-6 uppercase text-sm text-black font-semibold">
            Read article
            <span class="ml-2 h-6 w-6 text-purple i-fa6-solid-circle-right" />
          </a>
        </div>
      </div>
    ))
  }
</div>
