---
import { Settings } from '../config'
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <style is:inline>
      [x-cloak] { display: none !important; }
    </style>
    <!-- <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

    <title>
      {title || Settings.site_name}
    </title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="font-sans text-gray-700 antialiased bg-white">
    <Navbar />
    <slot />
    <Footer />
    <script>
      import netlifyIdentity from 'netlify-identity-widget'

      declare global {
        interface Window {
          netlifyIdentity: any
          netlifyUser: any
        }
      }

      netlifyIdentity.on('init', (user) => {
        window.netlifyUser = user
        console.log(user)
      })
      netlifyIdentity.on('close', () => window.location.reload())
      netlifyIdentity.init()
      window.netlifyIdentity = netlifyIdentity
      if (window.netlifyUser) {
        const status = document.getElementById('status')
        const manage = document.getElementById('manage')

        status!.innerHTML = `${
          window.netlifyUser.user_metadata.full_name
        }<br />(${
          window.netlifyUser.email
        })`
        manage!.innerText = "Manage membership"
      }
    </script>
  </body>
</html>
