---
import { Settings } from '../config'
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <!-- <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
    <script>
      import netlifyIdentity from 'netlify-identity-widget'

      netlifyIdentity.init()
    </script>
    <title>
      {title || Settings.site_name}
    </title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="font-sans text-gray-700 antialiased bg-white">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
